

.App {
  text-align: center;
}

.logo {
  pointer-events: none;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {

  box-shadow: 5px 2px 8px 2px #883f03bd;
  background-color: #94450498;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subheader {
  display: flex;
}

.feed {
  flex-direction: inline-block;
  padding-top: 71px;
  color: #285844;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  justify-content: center;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: 'row';
  width: 500px;
  height: 600px;
  margin: 10vh auto;
}

.dropdown {
  display: inline-block; 
  margin: 10px auto;
  padding: 10px;
}

.dropdown .btn-flat {
  background-color: #592808;
  color: white;
}

.card-buttons {
  margin: 3px;
}

.price-per {
 contain: content;
}

.units {
  display: inline-block;
  margin: 0 auto;
}

.calc-button {
  padding: 2px;
}

.form-label {
  margin-right: .5rem;
}

input {
  margin-right: 5px;
}